.productlist__grid {
  display: grid;
  margin: 200px auto;
  grid-template-columns: repeat(auto-fill, 352px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 1200px;
  justify-content: center;
}